.projetos{
    display: flex;
    padding: 70px 0;
    text-align: center;
    background: rgb(17, 17, 17);
    border-bottom: 1px solid #42C920;
}
.projetos_container{
    max-width: 1024px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto ; 
}
.projetos_titulo{
    margin-bottom: 50px;
    font-size: 20px;
    color: #42C920;
}
.projetos_titulo h2{
    margin-bottom: 15px;
}
.cards_display{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

@media (min-width: 768px) {
    .cards_display {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}

@media (max-width: 767px) {
    .cards_display {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
}

@media (max-width: 450px) {
    .cards_display {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #e0dfdf;
    padding: 30px 10px;
    border-radius: 20px;
    gap: 15px;
}
.card img{
    width: 100%;
}
.card p{
    font-size: 12px;
}
.links_container a{
    text-decoration: none;
    color: black;
    background-color: #aaa8a8;
    padding: 5px 10px;
    margin: 0 10px;
    border-radius: 10px;
}
.scroll button{
    background: transparent;
    color: #42C920;
    font-size: 20px;
    text-align: center;
    margin: 0 10px;
    padding: 5px 10px;
}

@media (max-width: 450px) {
    .carrocel_container{
        flex-wrap: wrap;
    }
    .scroll button{
        display: none;
    }
}